﻿@using SocketBounce.WebHost.Models
@model User
@{
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
    string helloClass = null;
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <h3 title="@Model.Name" class="@helloClass">Hello @Model.Name!</h3>
    @using (Html.BeginForm("Start", "Home"))
    {
        <input type="submit" />
    }

    @Component.Invoke("Console")
</div>