﻿@{
    ViewBag.Title = "Home Page";
}
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Configure Relay</legend>
            <input type="submit" value="Start" class="submit" />
            <input type="submit" value="Stop" class="submit" />
            <label for="clientPort">Client Port: </label>
            <input type="text" name="clientPort" value="@ViewBag.ClientPort" />
            <label for="listenPort">Listen Port: </label>
            <input type="text" name="listenPort" value="@ViewBag.ListenPort" />
        </fieldset>
    }
</body>
